* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
body{
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
}
/* navbar*/
.navbar{
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding:15px 40px;
    background-color:darkblue;
}
.logo{
color:white;
font-size:1rem;
font-weight:bold;
}
.nav-links{
    list-style:none;
    display:flex;
}
.nav-links li{
    margin-left:1rem;
}
.nav-links a{
    color:white;
    text-decoration:none;
    font-size:1rem;
}
.nav-links a:hover{
    color:#fbc531;
}
/* hero */
.hero{
    height:100px;
    color:gold;
    text-align:center;
    padding-top:20px;
    
    
}
.hero p{
    margin-bottom:1rem;
    color:rgba(185, 181, 181, 0.846);
}
.hero h1{
    font-size:40px;
    margin-bottom:10px;
}
.hero button{
    padding: 10px 10px;
    background-color: gold;
    border-radius:0.5rem;
    cursor:pointer;
    color:black;
    border: 1px solid;
}
.hero button:hover{
    background-color:white;
    border: 1px solid;
}

.product{
    padding:40px;
    text-align:center;
    margin-top:4rem;
}


.product h1{
    color:gold;
}
.product-container{
    display:flex;
    justify-content:center;
    gap:20px;
    margin-top:100px;
    align-items:center;
    
}
.product-card{
    width:150px;
    padding:auto;
    border:1px solid #ddd;
    border-radius:8px;
    background-color: white;
     margin-top:auto;

    
}
.product-card button{
    margin-top:10px;
    padding:8px;
    width:100%;
    background-color:darkblue;
    color:white;
    border:none;
    cursor:pointer;
}
footer{
    background-color:#0a4d62;
    color:white;
    text-align:center;
    padding:10px 0;
    margin-top: 20%;
}
.product-box{
    display:flex;
    justify-content:center;
    gap:20px;
    margin-top:100px;
    align-items:center;
    
}
.product-card img{
    width:70px;
    margin-top:10px;
    
}
.product-card img:hover{
transform: scale(4);
}

